body, html {
   height: 100%;
 }
 
.parallax {
  /* The image used */
    background-image: url("../img/parallax.jpg");

  /* Full height */
    height: 100%; 

  /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
 }

header {
    background: beige;
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100px;
}
